.course-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: aquamarine;
  }
body{
    margin: 0px;
  }
  .it
  {
    background-color: blue;
  }
  .course-table th, .course-table td {
    border: 1px solid red;
    padding: 8px;
    text-align: left;
  }

  