.footer {
    background-color:black;
    color: #fff;
    padding: 20px;
    text-align: center;
    height:300px;
    margin-top: 200px;
    
  }
  .footer p {
    margin: 5px 0;
  }
  
  .footer a {
    color: #fff;
  }

.fh
{
  background-color:rgba(255, 0, 0, 0.715) ;
  height:40px;
  margin:-20px;
 
}
.icon1
{
  margin-left:700px;
  margin-top: -30px;
}
.icon2
{
  margin-left:800px;
  margin-top: -18px;
}
.icon3
{
  margin-left:900px;
  margin-top: -18px;
}
.icon4
{
  margin-left:1000px;
  margin-top: -18px;
}
.icon5
{
  margin-left:900px;
  margin-top: 30px;
}
.icon6
{
  margin-left:900px;
  margin-top: 20px;
}
.icon7
{
  margin-left:1040px;
  margin-top: 20px;
}
.v
{
  margin-top:10px;
  margin-left:-1200px;
  height:100px;
}
.des
{

  text-align: justify;
  margin-bottom: 60px;;
}
.ch
{
  color:red;
  margin-top: -140px;
  margin-left:900px;
 
}
.l1
{
  color:white;
  margin-top:40px;
  margin-left: 300px;
}
.l2
{
  color:white;
  margin-top:10px;
  margin-left: 300px;
}
.l3
{
  
  margin-top:10px;
  margin-left: 300px;
}
.lh
{
  color:red;
  margin-top: -140px;
  margin-bottom: -10px;
  margin-left: 300px;
}
.hr {
  border-color:black;
  background-color: black;
  border: none;
  width: 1px;
  height: 150px;
  margin-top: -100px;
  margin-left:200px;
 }
 .l11
 {

  text-decoration: none;
 }
 .l21
 {
  text-decoration: none;
 }
 .l31
 {
  text-decoration: none;
 }
 .z11
 {
  text-decoration: none;

 }
 .h21
 {
  text-decoration: none;
 }
 .h31
 {
  text-decoration: none;
 }
 .hh
 {
  color:red;
  margin-top: -250px;
  margin-bottom: 150px;
  margin-left: -300px;
 }
 .h1
 {
  margin-top:-120px;
  margin-left: -300px;
 }
 .h2 
 {
  margin-top:10px;
  margin-left: -300px;
 }
 .h3 
 {
  margin-top:10px;
  margin-left: -300px;
 }
 